*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
nav{
    position: fixed;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(230, 227, 227);
    box-shadow: 0px 0px 1px rgb(180, 177, 177);
    background-color: rgba(255, 255, 255, 0.959);

}
nav img{
    width: 50px;
    margin: 30px 0px 0px 30px;
   
}
ul{
    margin-right: 50px;
}
ul li{
    display: inline;
    margin-top: -55px;
    padding: 25px;
    float: right;
}
ul li a{
    margin-top: -48px;
    /* color: #EFA125; */
    color: gray;
    letter-spacing: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul li a:hover{
    cursor: pointer;
    color: #EFA125;
    text-shadow:0px 0px 10px grey;
}
#landing{
    padding-top: 250px;
    background: url(./images/IMG_0195.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(14, 11, 9, 0.911);
    /* backdrop-filter: blur(5px); */
    background-blend-mode: overlay;
}
#landing h1{
    letter-spacing: 6px;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    word-spacing: 6px;
    line-height: 45px;
}
#landing h1 span{
    font-size: 30px;
    padding-top: 200px;
}
#landing button{
    margin-left: 45%;
    padding: 25px;
    background-color: #EFA125;
    border-radius: 15px;
    border: none;
    margin-bottom: 60px;
    color: white;
    transition: 0.5s;
}
#landing button:hover{
    color: #EFA125;
    background: white;
    box-shadow: 0px 0px 20px #EFA125;
    transition: 0.4s;
}
h2.heading{
    text-align: center;
    color: grey;
    font-size: 30px;
    padding: 150px;
    padding-bottom: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.abt p{
    color: gray;
    text-align: center;
    line-height: 25px;
    width: 60%;
    padding: 30px;
    padding-left:250px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;    

}
h2 span{
    color: #EFA125;
}
.pro-section{
    width: 100%;
    display: flex;
    padding-top: 60px;

}
.pro-content{
    padding-left: 180px;
    
}
.pro-img img{
    padding-right: 100px;
}
.pro-content h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #EFA125;
    font-size: 30px;
    /* padding-left: 250px; */
    padding-top: 25px;
    padding-right: 50px;
}
.pro-content p{
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    padding-top: 30px;
    width: 65%;
}
#pro-img img{
    margin-left: 150px;
    border-radius: 30%;
    
}#pro-content p{
    width: 80%;
    padding-right:80px ;
}
#pro-content{
    text-align: right;
}
#pro-content h3{
    padding-right: 100px;
    /* width: 50%; */
}